.form {
  padding: 15px 0px;
}

.input {
  display: inline;
}

.text {
  border-style: solid;
  border-color: purple;
  width: 80%;
  padding: 5px;
}

#remainingChars {
  text-align: left;
  font-size: 12px;
  margin: 0px 0px 0px 3% ;
}

.submit {
  width: 15%;
  padding: 5px;
  background-color: #cbc3e3;
  border-style: solid;
  border-color: purple;
}

.submit:hover {
  color: white;
  background-color: purple;
}

.errorMsg {
  color: red;
}